@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: hsl(0 0% 11%);
  --light: hsl(0 0% 96%);
  --primary: hsl(316 49% 48%);
  --primaryDark: hsl(175 74% 62%);
}
.dark {
  --dark: hsl(0 0% 96%);
  --light: hsl(0 0% 11%);
  --primary: hsl(175 74% 62%);
  --primaryDark: hsl(316 49% 48%);
}
